<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <% include ../header %>
    <header>
      <h2>Ntalk - Agenda de Contatos</h2>
    </header>
    <section>
      <form action="/contato" method="post">
        <input
          type="text"
          name="contato[nome]"
          placeholder="Digite o nome"
        /><br />
        <input
          type="text"
          name="contato[email]"
          placeholder="Digite o email"
        /><br />
        <button type="submit">Cadastrar</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Acao</th>
          </tr>
        </thead>
        <tbody>
          <% contatos.forEach(function(contato,index) { %>
          <tr>
            <td><%- contato.nome %></td>
            <td><%- contato.email %></td>
            <td><a href="/contato/<%- index %>">Detalhes</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
    <% include ../exit %> <% include ../footer %>
  </body>
</html>
