<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ntalk - Agenda e Contatos</title>
  </head>
  <body>
    <header>
      <h1>Ntalk</h1>
      <h4>Bem vindo!</h4>
    </header>
    <section>
      <form action="/entrar" method="post">
        <input type="text" name="nome" placeholder="seu nome" /><br />
        <input type="text" name="email" placeholder="seu email" /><br />
        <button type="submit">Entrar</button>
      </form>
    </section>
    <footer>
      <small>Ntalk - Agenda e Contatos</small>
    </footer>
  </body>
</html>
